<div id="create" class="tabcontent">
    <h2>Create new coins</h2>
    <div class="input-group">
        <h3>Address</h3>
        <input type="text" id="create-address" placeholder="Enter address" />
    </div>
    <div class="input-group">
        <h3>Amount</h3>
        <input type="number" id="create-amount" placeholder="Enter amount..." />
    </div>
    <div class="input-group">
        <button class="btn" id="button-create">Send</button>
    </div>
</div>

<div id="balances" class="tabcontent">
    <h2>Check balance of wallet</h2>
    <div class="input-group">
        <h3>Address</h3>
        <input type="text" id="balance-address" placeholder="Enter address..." />
    </div>
    <div class="input-group">
        <button class="btn" id="button-check">Check balance</button>
    </div>
</div>

<h1 class="text message">Balance: <span id="message"></span></h1>